html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}


#pauseScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#pauseScreen h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
